@page
@model MOProject.Pages.BlogModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog</title>  <!-- fallback title -->
    <link rel="stylesheet" href="./Blogstyles.css" />
</head>
<body>
    <!-- Page Header -->
    <header class="masthead" 
       style="background-image: url('@Url.Content("~/BlogHeader.jpg")')"

        <div class="position-relative px-lg-5 container px-4">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Blog</h1>
                        <span class="subheading">Welcome to our blog posts</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Blog Posts -->
    <div class="px-lg-5 container px-4">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @if (Model.ViewModel?.Posts != null && Model.ViewModel.Posts.Any())
                {
                    @foreach (var post in Model.ViewModel.Posts)
                    {
                        <div class="post-preview">
                            <a asp-page="/Post" asp-route-slug="@post.Slug">
                                <h2 class="post-title">@post.Title</h2>
                                <h3 class="post-subtitle">@post.Subtitle</h3>
                            </a>
                            <p class="post-meta">
                                Posted by @post.Author on @post.Date.ToShortDateString()
                            </p>
                        </div>
                        <hr class="my-4" />
                    }
                }
                else
                {
                    <p>No posts available.</p>
                }
            </div>
        </div>
    </div>
</body>
</html>
